<section>
  
  <div class="row">
    <form class="col s12">
      <div class="input-field col s12">
          <input id="titulo" type="text" class="validate">
          <label for="titulo">Título</label>
        </div>
      <div class="input-field col s12">
        <input id="descricao" type="text" class="validate">
        <label for="descricao">Descrição</label>
      </div>
      <button  id='adicionar' (click)="adicionar()" 
        class="btn" >Adicionar</button>
    </form>
  </div>

</section>