<section style="margin-top: 20px">

  <table class="highlight">
    <thead>
      <tr>
        <th>Título</th>
        <th>Descrição</th>
        <th>Status</th>
        <th>Data Criação</th>
        <th>Data Conclusão</th>
        <th>Data Edição</th>
        <th>Data Remoção</th>
        <th class='center'>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of taskList">
        <td>{{ task.titulo }}</td>
        <td>{{ task.descricao }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.dataCriacao | date: 'dd/MM/yyyy HH:mm:ss ' }}</td>
        <td>{{ task.dataConclusao | date: 'dd/MM/yyyy HH:mm:ss ' }}</td>
        <td>{{ task.dataEdicao | date: 'dd/MM/yyyy HH:mm:ss ' }}</td>
        <td>{{ task.dataRemocao | date: 'dd/MM/yyyy HH:mm:ss ' }}</td>
        <td><a class="btn-floating btn-small waves-effect waves-light blue tooltipped" (click)="concluir(task)"
               data-position="bottom" data-tooltip="Concluir"><i class="material-icons">done</i></a>
            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped" (click)="editar(task)"
               data-position="bottom" data-tooltip="Editar"><i class="material-icons">border_color</i></a>
            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped" (click)="excluir(task)"
               data-position="bottom" data-tooltip="Excluir"><i class="material-icons">delete</i></a></td>
      </tr>
    </tbody>
  </table>

</section>